.astroContainer{
	background-image: url('../assets/img/backgrounds/congruent_outline.png');
	background-repeat: none;
	margin: 0;
	padding: 0;
	color: white;
}

.ic348Photo {
	background-image: url('../assets/img/ic348_purple.jpg');
	background-repeat: none;
	background-size: cover;
	height: 400px;
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto
}


.astropannel{
	height: auto;
	border-radius: 5%;
	border: solid #FEAC00 3px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	vertical-align: center;
	background-color: #6f6d6d;
}

h2.astrotitle {
	color: #FEAC00;
	font-family: 'viking_shipregular';
	font-size: 650%;
	padding: 30px;
}

@media screen and (max-width: 480px){}
	h2.astrotitle {
		color: #FEAC00;
		font-family: 'viking_shipregular';
		font-size: 275%;
		padding: 30px;
	}
}
