.ic348Photo {
	background-image: url('../assets/img/ic348_purple.jpg');
	background-repeat: none;
	background-size: cover;
	height: 500px;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto
}


.astroContainer{
	background-color: red;
	margin: 0;
	padding: 0;
}
