h2, h3, h4{
  text-align: center;
}


.mePhoto {
  border-radius: 50%;
  background-image: url('../assets/img/me.jpeg');
  background-repeat: none;
  background-size: cover;
  height: 200px;
  width: 200px;
}
