.nashContainer{
  background-image: url('../assets/img/backgrounds/grid.jpg');
  margin: 0 auto;
  padding: 0;
  height: 100%;
  display: block;
  background-size: cover;
}


h2.title.nash{
  color: black;
}

h4#acorn1 {
  padding: 7px;
}

#acornHeading{
  background-color: #EAAC00;
  height: 37px;
}

.row#acorn{
  background-color: rgba(168, 71, 73, 0.8 );
}


.btn-danger#nashButtons{
  color: #000;
  background-color: #EAAC00;
  border-color: #EAAC00;
}

.projectBox{
  width: 100%;
  height: auto;
  border-radius: 10%;
  border: solid black 2px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  background-color: #DE5757;
}

.row#nashCCinfo {
  background-color: rgba(168, 71, 73, 0.8 );
  padding: 20px;
  text-align: center;
}
