.portContainer{
  background-image: url('../assets/img/backgrounds/escheresque.png');
  background-repeat: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.btn {
  margin: 2px;
}

.portfolioBox{
  width: 30%;
  height: 400px;
  border-radius: 10%;
  border: solid black 2px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  background-color: #14b9cb;
}

.collapse.in{
  background-image: url('../assets/img/backgrounds/escheresque.png');
  background-repeat: none;
}

.panel-heading{
  margin: 0px;
  padding: 0px;
}

.panel{
  background-color: transparent;
}

.panel-default>.panel-heading {
  background-color: transparent;
  border-color: transparent;
}

.panel-default {
  border-color: transparent;
}


#portfolioImg{
  width: 90%;
  height: auto;
  padding: 20px;
  border: 20px;
}
