.resumeContainer{
  background-image: url('../assets/img/backgrounds/arches.png');
  background-repeat: none;
  margin: 0;
  padding: 0;
}


#resume{
  background-image: url('../assets/pdf/developer_resume_color.jpeg');
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: auto;
  display:block;
  margin:auto;
}


.resumeBtn{
  margin: 20px;
  padding: 20px;
}
