.skillContainer{
  background-color: blue;
  margin: 0;
  padding: 0;
}

.skillBox{
  width: 20%;
  height: 200px;
  border-radius: 20%;
  border: solid black 2px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  background-color: lightblue;
}

#skills{
  display: inline-block;
}

#spacerbottom{
  height: 100px;
}
