.skillContainer{
  background-image: url('../assets/img/backgrounds/squares.png');
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.skillBox{
  width: 95%;
  height: 250px;
  border-radius: 20%;
  border: solid black 2px;
  padding: 10px;
  margin: 10px;
  vertical-align: middle;
  background-color: #14b9cb;
}

#skills{
  display: inline-block;
}

#spacerbottom{
  height: 100px;
}

.skillLogo{
  color: #FEAC00;
}

.skillTitle{
  color: #2A53C1;
}

p.skill{
  padding: 50px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background: #f2f2f2;
}

h2.title{
  color: #FEAC00;
  font-family: 'viking_shipregular';
  font-size: 650%;
  padding: 30px;
}
.iconTitle{
  text-align: left;
}

.iconIcon{
  text-align: right;
}
