
<div class="page-header">
  <h2>Contact Me</h2>
</div>
<div class="row">
  <div class="icon"><a href="https://twitter.com/zoe_ames" target="_blank" class="needsclick"><i class="fa fa-twitter fa-5x"></i></a></div>
  <div class="icon"><a href="https://github.com/zoeames" target="_blank" class="needsclick"><i class="fa fa-github-alt fa-5x"></i></a></div>
  <div class="icon"><a href="https://www.linkedin.com/pub/zoe-ames/85/b23/689" target="_blank" class="needsclick"><i class="fa fa-linkedin-square fa-5x"></i></a></div>
  <div class="icon"><a href="https://www.facebook.com/zames" target="_blank" class="needsclick"><i class="fa fa-facebook-square fa-5x"></i></a></div>
  <div class="icon"><a href="#" target="_blank" class="needsclick"><i class="fa fa-envelope-o fa-5x"></i></a></div>
</div>