doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Zoe Ames
    // Bootstrap core CSS 
    link(href='vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template 
    link(href='css/sticky-footer-navbar.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
  body
    include nav
    .container
      .page-header
        h3 Contact Me!
        
        
    .footer
      .container
        p: i.fa.fa-copyright &nbsp Zoe Ames
    
    
    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
