doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Zoe Ames
    // Bootstrap core CSS 
    link(href='vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template 
    link(href='css/sticky-footer-navbar.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
  body
    include nav
    .container
      .page-header
        h2 Zoe Ames
        h3 Developer  |  Web Designger  |  Astrophysicist
      .row
        .col-xs-4
          .mePhoto
        .col-xs-8
          p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
      .row2
        h4 Skills:
        .col-xs-4
          h5 MongoDB
          h5 bla
          h5 bla
          h5 bla
          h5 bla
        .col-xs-4
          h5 Angular JS
          h5 bla
          h5 bla
          h5 bla
          h5 bla
        .col-xs-4
          h5 JavaScript
          h5 bla
          h5 bla
          h5 bla
          h5 bla
        
    .footer
      .container
        p: i.fa.fa-copyright &nbsp Zoe Ames
    
    
    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
