.navbar.navbar-default(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/').i.fa.fa-home &nbsp ZA

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href='/').i.fa.fa-phone &nbsp  Contact Me
        li: a(href='/').i.fa.fa-newspaper-o &nbsp  Resume 
        li: a(href='/').i.fa.fa-rocket &nbsp Astrophysics 
