
<div class="resumeContainer">
  <h2 class="title">Resume</h2>
  <h5>Click one of the buttons below to get my resume in the format you want.</h5><a href="/assets/pdf/developer_resume_color.pdf" class="btn btn-primary btn-lg resumeBtn">Developer - Color</a><a role="button" href="/assets/pdf/developer_resume_blackwhite.pdf" class="btn btn-primary btn-lg resumeBtn">Developer - Grayscale</a><a role="button" href="/assets/pdf/ames_cv.pdf" class="btn btn-primary btn-lg resumeBtn">Scientific CV</a>
  <div id="spacermiddle"></div>
  <div class="visible-lg visible-md"><img src="../assets/pdf/developer_resume_color.jpeg" alt=""></div>
  <div id="spacerbottom"></div>
</div>