.nashContainer
  h2.title.nash NashCC
  .row#nashCCinfo
    .col-xs-2
    .col-xs-2
      h4 Checkout our website here:
      a.btn.btn-danger#nashButtons.needsclick(href='http://nashvillecreativecoders.com/', target="_blank") Nashville Creative Coders
    .col-xs-4
      h3 Nashville Creative Coding Meetup
    .col-xs-2
      h4 See our upcoming events:
      a.btn.btn-danger#nashButtons.needsclick(href='http://www.meetup.com/nashcc/', target="_blank") NashCC Meetup
    .col-xs-2
  #spacerbottom  
  .row#acornHeading
    h4#acorn1 Curent Projects
  .row#acorn
    .col-lg-4
    .col-lg-4
      .projectBox
        h3 &pi; Day 2015
        img#portfolioImg(ng-src='../../assets/img/portfolio/piday2015.png')
        h4 Displays digits of &pi; in circular form.  Then allows you to flash digits in order of &pi; or for a duration of &pi;.
        br
        h5 Technologies used: Javascript, HTML, CSS
        br
        a.btn.btn-primary.needsclick(href='https://github.com/zoeames/piday2015', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
        a.btn.btn-success.needsclick(href='http://piday2015.zoeames.com/', target="_blank"): i.fa.fa-play.fa-2x &nbsp Try the App
    .col-lg-4
  #spacerbottom
