.portContainer
  h2.title NashCC

  h4 Nashville Creative Coding Meetup
  .row
    .col-xs-4
    .col-xs-4
      .nashccpannel
        h5 Checkout our website here:
        a.btn.btn-primary.needsclick(href='http://nashvillecreativecoders.com/', target="_blank") Nashville Creative Coders
    .col-xs-4
  .row
    .col-xs-4
    .col-xs-4
      .nashccpannel
        h5 See our upcoming events:
        a.btn.btn-primary.needsclick(href='http://www.meetup.com/nashcc/', target="_blank") NashCC Meetup
    .col-xs-4
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
