.resumeContainer
  h2 Resume
  
  h5 Click one of the buttons below to get my resume in the format you want.
  a.btn.btn-primary(href='/assets/pdf/developer_resume_color.pdf') Developer - Color
  a.btn.btn-primary(role='button', href='/assets/pdf/developer_resume_blackwhite.pdf') Developer - Grayscale
  a.btn.btn-primary(role='button', href='/assets/pdf/ames_cv.pdf') Scientific CV
  
  #spacerbottom
  #resume

  #spacerbottom
