.resumeContainer
  h2.title Resume
  h5 Click one of the buttons below to get my resume in the format you want.
  a.btn.btn-primary.btn-lg(href='/assets/pdf/developer_resume_color.pdf').resumeBtn Developer - Color
  a.btn.btn-primary.btn-lg(role='button', href='/assets/pdf/design_resume_blackwhite.pdf').resumeBtn Developer - Grayscale
  a.btn.btn-primary.btn-lg(role='button', href='/assets/pdf/ames_cv.pdf').resumeBtn Scientific CV
  
  #spacermiddle
  .visible-lg.visible-md
    img(src='../assets/pdf/developer_resume_color.jpeg', alt='')

  #spacerbottom
