html
  body
    .port-holder
      .row
        // Project Close Button
        .col-md-12
          ul.pclose
            li
              a#portfolio-close(href='#', title='Close Project')
                i.fa.fa-times-circle-o
        // /Project Close Button
        // Project Title
        .project-title
          h1 Wobbly Who
          p A Whovian Twist on Flappy Bird
        // /Project Title end
        // Project Screenshot
        .col-md-12
          .portfolio-media
            img(src='public/assets/img/projects/project1.png')
        // /Project Screenshot end
        // Project Details
        .row
          .col-md-6(style='text-align: center')
            a(href='http://mlfryman.github.io/mlf-wobbly-who/', title='Play Wobbly Who')
              i.fa.fa-play &nbsp; Play
          .col-md-6(style='text-align: center')
            a(href='http://github.com/mlfryman/mlf-wobbly-who', title='View Source Code')
              i.fa.fa-github-square &nbsp; Source
        .row
          .col-md-12
            h2  ADD HEADER HERE 
            p  ADD DESCRIPTION HERE 
        // /Project 1 Details end
