.page-header
  h2 Portfolio
.row2
  h4 This page is currently under construction.
section.ff-container
  input#select-type-all.ff-selector-type-all(name='radio-set-1', type='radio', checked='checked')
  label.ff-label-type-all(for='select-type-all') All
  input#select-type-1.ff-selector-type-1(name='radio-set-1', type='radio')
  
  label.ff-label-type-1(for='select-type-1') Web Design
  
  
  input#select-type-2.ff-selector-type-2(name='radio-set-1', type='radio')
  
  label.ff-label-type-2(for='select-type-2') Illustration
  
  
  input#select-type-3.ff-selector-type-3(name='radio-set-1', type='radio')
  
  label.ff-label-type-3(for='select-type-3') Icon Design
  
  
  .clr
  
  
  ul.ff-items
    li.ff-item-type-2
      a(href='http://dribbble.com/shots/366400-Chameleon')
        span Chameleon
        
        img(src='images/1.jpg')
    
    li.ff-item-type-1
      a(href='http://dribbble.com/shots/272575-Tutorials-wip-')
        span Tutorials (wip)
        
        img(src='images/2.jpg')
    
    li.ff-item-type-2
      a(href='http://dribbble.com/shots/372566-Flower')
        span Flower
        
        img(src='images/3.jpg')
    
    li.ff-item-type-1
      a(href='http://dribbble.com/shots/138484-Symplas-website')
        span Symplas website
        
        img(src='images/4.jpg')
    
    li.ff-item-type-3
      a(href='http://dribbble.com/shots/134868-TRON-Mobile-ver-')
        span TRON: Mobile version
        
        img(src='images/5.jpg')
    
    li.ff-item-type-2
      a(href='http://dribbble.com/shots/347197-Cake')
        span Cake
        
        img(src='images/6.jpg')
    
    li.ff-item-type-1
      a(href='http://dribbble.com/shots/186199-Tailoring-accessories')
        span Tailoring accessories
        
        img(src='images/7.jpg')
    
    li.ff-item-type-3
      a(href='http://dribbble.com/shots/133859-App-icon')
        span App icon
        
        img(src='images/8.jpg')
    
    li.ff-item-type-1
      a(href='http://dribbble.com/shots/188524-Event-Planning')
        span Event Planning
        
        img(src='images/9.jpg')
