.portContainer
  h2.title Portfolio
  h4 This page is currently under construction.
    
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse1').fa.fa-chevron-down &nbsp Capstone Projects
      #collapse1.panel-collapse.collapse
        .col-lg-4
          .portfolioBox
            h3 Star Trek: Journey to Starbase Andromeda
            img#portfolioImg(ng-src='../../assets/img/portfolio/startrek.png')
            h4 A choose-your-own-adventure game based on characters from the Star Trek franchise back with real physics calculations.
            br
            h5 Technologies used: Javascript, NodeJS, AngularJS, MongoDB, Express, Bootstrap
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/capstone', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
            a.btn.btn-success.needsclick(href='http://startrek.zoeames.com/', target="_blank"): i.fa.fa-play.fa-2x &nbsp Play Game
        .col-lg-4
          .portfolioBox
            h3 Capstone 2
            img#portfolioImg(ng-src='../../assets/img/portfolio/comingsoon.png')
            h4 Allows teachers to bring technology into their classrooms by providing a platform where teachers can ask questions and students can vote with their smartphones.
            br
            h5 Technologies used: Javascript, PostgreSQL, Hapi, Angular, NodeJS, Foundation
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/capstone2', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
        .col-lg-4
          .portfolioBox  
            h3 enlighTN
            img#portfolioImg(ng-src='../../assets/img/portfolio/enlighTN.png')
            h4 Using publicly available data on the installation and performance art in Nashville from various sources such as nashville.data.gov. We offer a comprehensive one stop view for all Metro Art and Historical Markers.
            br  
            h5 Team Members: Kayla Jones, Liza Carter, Brian Hiatt, Shruti Sharma
            br
            h5 Technologies used: Javascript, Express, NodeJS, MongoDB, AngularJS, Socket.IO, Bootstrap
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/enlighTN', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
            a.btn.btn-success.needsclick(href='http://enlightn.kaylalynjones.ninja/', target="_blank"): i.fa.fa-play.fa-2x &nbsp Play Game
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse2').fa.fa-chevron-down &nbsp MEAN Stack
      #collapse2.panel-collapse.collapse
        .col-lg-4
          .portfolioBox
            h3 Trailer Love
            img#portfolioImg(ng-src='../../assets/img/portfolio/comingsoon.png')
            h4 A trailer park themed dating site.
            br  
            h5 Team Members: Matt Keef, Joy Pratt, Mike Barriero, Denis Stanley
            br
            h5 Technologies used: Javascript, Express, NodeJS, MongoDB, AngularJS, Bootstrap
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/trailer-love', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
        .col-lg-4
          .portfolioBox  
            h3 World Traveler
            img#portfolioImg(ng-src='../../assets/img/portfolio/comingsoon.png')
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/world-traveler', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
        .col-lg-4
          .portfolioBox  
            h3 Craig's Bay
            img#portfolioImg(ng-src='../../assets/img/portfolio/craigsbay.png')
            h4 A site for swapping and bartering items. Features geocoding through google.
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/craigs-bay', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
            a.btn.btn-success.needsclick(href='http://craigs-bay.mikeyb.net', target="_blank"): i.fa.fa-play.fa-2x &nbsp Play Game
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse3').fa.fa-chevron-down &nbsp Angular Apps
      #collapse3.panel-collapse.collapse
        .col-lg-4
          .portfolioBox
            h3 NoteTaker
            img#portfolioImg(ng-src='../../assets/img/portfolio/notetaker.png')
            h4 A simple note taking app that allows you to upload photos with your notes.
            br
            h5 Technologies used: Javascript, Hapi, NodeJS, PostgreSQL, AngularJS, Foundation
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/notetaker', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
            a.btn.btn-success.needsclick(href='https://mighty-waters-4871.herokuapp.com', target="_blank"): i.fa.fa-play.fa-2x &nbsp Play Game
        .col-lg-4
          .portfolioBox
            h3 < img > TROLL   
            img#portfolioImg(ng-src='../../assets/img/portfolio/imgTROLL.png')
            h4 A web crawling app that downloads all photos on the pages it visits.  Can go to a depth of 3 without many problems.
            br
            h5 Team Members: Joy Pratt, Dave Boling, Matt Keef, Sarah Pearson, Mike Barreiro
            br
            h5 Technologies used: Javascript, Hapi, NodeJS, PostgreSQL, AngularJS, Foundation
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/imgTROLL', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
        .col-lg-4
          .portfolioBox 
            h3 BlackJack
            img#portfolioImg(ng-src='../../assets/img/portfolio/blackjack.png')
            h4 The initial setup for a BlackJack game.  Players can create rooms and communicate through chats using Socket.io
            br
            h5 Technologies used: Javascript, Hapi, NodeJS, PostgreSQL, AngularJS, Foundation, Socket.io
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/blackjack', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
            a.btn.btn-success.needsclick(href='https://guarded-escarpment-7455.herokuapp.com', target="_blank"): i.fa.fa-play.fa-2x &nbsp Play Game
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse4').fa.fa-chevron-down &nbsp Phaser Games
      #collapse4.panel-collapse.collapse
        .col-lg-4
          .portfolioBox
            h3 Pirates Booty
            img#portfolioImg(ng-src='../../assets/img/portfolio/PiratesBooty.png')
            h4 A side scroller Mario-like game where you get to shoot elfs and orcs with a bow and arrow!
            br  
            h5 Team Members: Sarah Pearson, Joy Pratt, Adam Barnhard
            br
            h5 Technologies used: Javascript, Express, Phaser.io, Canvas
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/pirates-booty', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
            a.btn.btn-success.needsclick(href='http://www.sarahmpearson.com/mario/', target="_blank"): i.fa.fa-play.fa-2x &nbsp Play Game
        .col-lg-4
          .portfolioBox  
            h3 FlappyDragon
            img#portfolioImg(ng-src='../../assets/img/portfolio/flappyDragon.png')
            h4 A FlappyBird knockoff - but with a dragon.
            br  
            h5 Technologies used: Javascript, Express, NodeJS, Phaser.io, Canvas
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/flappyDragon', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
        .col-lg-4
          .portfolioBox 
            h3 RoundUp
            img#portfolioImg(ng-src='../../assets/img/portfolio/comingsoon.png')
            h4 A gender based HTML5 Canvas game built with Phaser.io
            br  
            h5 Team Members: Daniel Roden, Nathan Vasquez
            br
            h5 Technologies used: Javascript, Express, NodeJS, Phaser.io, Canvas
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/roundup', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse5').fa.fa-chevron-down &nbsp Mobile Apps
      #collapse5.panel-collapse.collapse
        .col-lg-4
          .portfolioBox  
            h3 Gravity Flip
            img#portfolioImg(ng-src='../../assets/img/portfolio/gravityflip.png')
            h4 After a trip through the Milky Way, your crew is ready to return to Earth. However, a terrible storm of asteroids and debris block your path. During your trip, you notice that the inertia and gravitational pull are constantly reversing. Navigate your way through this anomaly so that you can tell Earth of your findings!
            br
            h5 Team Members: Sarah Pearson, David Boling, Matt Keef, Mikey Badr
            br
            h5 Technologies used: Javascript, Bootstrap, Cordova, Phaser
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/falldown', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
            a.btn.btn-success.needsclick(href='https://itunes.apple.com/TR/app/id932888940', target="_blank"): i.fa.fa-apple.fa-2x &nbsp Itunes Store
        .col-lg-4
          .portfolioBox 
            h3 Cosmic PutPut
            img#portfolioImg(ng-src='../../assets/img/portfolio/putput.png')
            h4 A simple golfing game.  Try to get the earth into the black hole without falling off the edges.
            br
            h5 Technologies used: Javascript, Bootstrap, Cordova, Phaser
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/za-putput', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
        .col-lg-4
          .portfolioBox
            h3 NoteTaker - Mobile Version
            img#portfolioImg(ng-src='../../assets/img/portfolio/mobilenotetaker.png')
            h4 The mobile companion to the NoteTaker site (see NoteTaker under Angular Apps) 
            br
            h5 Technologies used: Javascript, Bootstrap, Cordova, Phaser
            br
            a.btn.btn-primary.needsclick(href='https://github.com/zoeames/za-mobilenote', target="_blank"): i.fa.fa-github-alt.fa-2x &nbsp GitHub Repo
        
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
