.portContainer
  h2 Portfolio
  h4 This page is currently under construction.
  #portfolioOptions
    
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse1').fa.fa-chevron-down &nbsp Capstone Projects
      #collapse1.panel-collapse.collapse
        .portfolioBox
          h3 Star Trek: Journey to Starbase Andromeda
        .portfolioBox
          h3 Capstone 2
        .portfolioBox  
          h3 enlighTN
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse2').fa.fa-chevron-down &nbsp MEAN Stack
      #collapse2.panel-collapse.collapse
        .portfolioBox
          h3 Trailer Love
        .portfolioBox  
          h3 World Traveler
        .portfolioBox  
          h3 Craig's Bay
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse3').fa.fa-chevron-down &nbsp Angular Apps
      #collapse3.panel-collapse.collapse
        .portfolioBox
          h3 NoteTaker
        .portfolioBox
          h3 < img > TROLL   
        .portfolioBox 
          h3 BlackJack
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse4').fa.fa-chevron-down &nbsp Phaser Games
      #collapse4.panel-collapse.collapse
        .portfolioBox
          h3 Pirates Booty
        .portfolioBox  
          h3 FlappyDragon
        .portfolioBox 
          h3 RoundUp
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse5').fa.fa-chevron-down &nbsp Mobile Apps
      #collapse5.panel-collapse.collapse
        .portfolioBox  
          h3 Gravity Flip        
        .portfolioBox 
          h3 Cosmic PutPut
        .portfolioBox
          h3 NoteTaker - Mobile Version
        
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
