.page-header
  h2 My Portfolio
.portfolio-container
  // Portfolio Item
  .portfolio-item.mt.games
    a.project-link(href='views/portfolio/flappydragon.html', title='FlappyDragon')
      .portfolio-image
        img(src='public/assets/img/flappyDragon.png', alt='FlappyDragon')
      .item-overlay
        .item-info
          .zoom-icon
          h4.item-name Flappy Dragon
          p.item-type Game
