.portContainer
  h2 Portfolio
  h4 This page is currently under construction.
  #portfolioOptions
    button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#intro') Capstones
    button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#capstones') Capstones
    button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#mean') MEAN Stack
    button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#angular') Angular Apps
    button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#games') Phaser Games
    button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#mobile') Mobile Apps
    #intro.collapse.in Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
    #capstones.collapse Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    #mean.collapse Gentrify leggings ethical flexitarian, vegan pickled literally jean shorts street art pop-up. Pitchfork jean shorts four dollar toast asymmetrical seitan selfies. Fap artisan Etsy selfies, Bushwick before they sold out tattooed butcher Helvetica Pitchfork hoodie salvia messenger bag viral. 8-bit Austin fingerstache meditation, health goth kitsch church-key fashion axe XOXO Godard Shoreditch chillwave distillery. Before they sold out Carles normcore, Echo Park sartorial crucifix Blue Bottle iPhone Marfa. Chillwave tilde yr, migas selfies roof party American Apparel kitsch distillery keytar disrupt Pinterest vinyl. Lomo wolf post-ironic, yr literally tattooed pork belly meditation ethical Banksy Thundercats Intelligentsia single-origin coffee Echo Park VHS.
    #angular.collapse Gingerbread apple pie jelly beans sweet roll. Macaroon brownie tart liquorice sweet roll jelly beans. Jelly danish apple pie caramels. Candy canes croissant cheesecake tart cookie apple pie.
    #games.collapse degrees plato ester dunkle pitching. cask conditioning, " abv attenuation bung pitch." top-fermenting yeast wit brewing ale dry hopping goblet ibu. beer barleywine, length ester conditioning: racking.
    #mobile.collapse Hide at bottom of staircase to trip human. Mark territory stand in front of the computer screen, have secret plans chase dog then run away hide at bottom of staircase to trip human or inspect anything brought into the house scamper.
    
    
  .container2
    h2 Collapse
    |       
    #accordion.panel-group
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', data-parent='#accordion', data-target='#collapse1') Collapsible Group 1
        #collapse1.panel-collapse.collapse.in
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', data-parent='#accordion', data-target='#collapse2') Collapsible Group 2
        #collapse2.panel-collapse.collapse
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', data-parent='#accordion', data-target='#collapse3') Collapsible Group 3
          #collapse3.panel-collapse.collapse
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    
              
  #spacerbottom
  #spacerbottom
  #spacerbottom
      
