.portContainer
  h2.title Portfolio
  h4 This page is currently under construction.
  #portfolioOptions
    
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse1').fa.fa-chevron-down &nbsp Capstone Projects
      #collapse1.panel-collapse.collapse
        .portfolioBox
          h3 Star Trek: Journey to Starbase Andromeda
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
        .portfolioBox
          h3 Capstone 2
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
        .portfolioBox  
          h3 enlighTN
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse2').fa.fa-chevron-down &nbsp MEAN Stack
      #collapse2.panel-collapse.collapse
        .portfolioBox
          h3 Trailer Love
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
        .portfolioBox  
          h3 World Traveler
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
        .portfolioBox  
          h3 Craig's Bay
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse3').fa.fa-chevron-down &nbsp Angular Apps
      #collapse3.panel-collapse.collapse
        .portfolioBox
          h3 NoteTaker
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
        .portfolioBox
          h3 < img > TROLL   
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
        .portfolioBox 
          h3 BlackJack
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse4').fa.fa-chevron-down &nbsp Phaser Games
      #collapse4.panel-collapse.collapse
        .portfolioBox
          h3 Pirates Booty
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
        .portfolioBox  
          h3 FlappyDragon
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
        .portfolioBox 
          h3 RoundUp
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
      .panel-heading
        h4.panel-title
          a.btn.btn-danger.btn-lg.btn-block(data-toggle='collapse', data-parent='#accordion', data-target='#collapse5').fa.fa-chevron-down &nbsp Mobile Apps
      #collapse5.panel-collapse.collapse
        .portfolioBox  
          h3 Gravity Flip
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')        
        .portfolioBox 
          h3 Cosmic PutPut
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
        .portfolioBox
          h3 NoteTaker - Mobile Version
          img#portfolioImg(ng-src='../../assets/img/portfolio/numbers-06.jpg')
        
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
  #spacerbottom
