
<div class="skillContainer">
  <h2>Skills</h2>
  <div id="skills">
    <div class="skillBox">
      <div class="fa fa-laptop fa-3x"></div>
      <h3>Application Frameworks</h3>
      <h4 class="devicons devicons-nodejs">&nbsp NodeJS</h4>
      <h4 class="devicons devicons-angular">&nbsp AngularJS</h4>
      <h4>Express</h4>
      <h4>HAPI</h4>
      <h4 class="devicons devicons-jquery_ui">&nbsp JQuery</h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-comments fa-3x"></div>
      <h3>Languages</h3>
      <h4 class="devicons devicons-javascript_badge">&nbsp JavaScript</h4>
      <h4 class="devicons devicons-python">&nbsp Python</h4>
      <h4>Fortran</h4>
      <h4>Mathematica</h4>
      <h4>Matlab</h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-gamepad fa-3x"></div>
      <h3>Game Development</h3>
      <h4>Phaser</h4>
      <h4>Tiled</h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-mobile fa-3x"></div>
      <h3>Mobile Development</h3>
      <h4 class="devicons devicons-phonegap">&nbsp Cordova</h4>
      <h4>PhoneGap</h4>
      <h4>Ionic</h4>
      <h4 class="devicons devicons-android">&nbsp Android</h4>
      <h4 class="devicons devicons-apple">&nbsp IOS</h4>
      <h4>Xcode   </h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-desktop fa-3x"></div>
      <h3>User Experience</h3>
      <h4 class="devicons devicons-css3">&nbsp CSS3</h4>
      <h4 class="devicons devicons-html5">&nbsp HTML5</h4>
      <h4>Jade</h4>
      <h4 class="devicons devicons-less">&nbsp Less </h4>
      <h4 class="devicons devicons-sass">&nbsp Sass</h4>
      <h4 class="devicons devicons-bootstrap">&nbsp Bootstrap</h4>
      <h4>Foundation</h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-database fa-3x"></div>
      <h3>Database Technology</h3>
      <h4 class="devicons devicons-mongodb">&nbsp MongoDB</h4>
      <h4 class="devicons devicons-postgresql">&nbsp PostgreSQL</h4>
      <h4 class="devicons devicons-database">&nbsp RoboMongo</h4>
      <h4>Mongoose</h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-check-square fa-3x"></div>
      <h3>Test Driven Development</h3>
      <h4 class="devicons devicons-grunt">&nbsp Grunt</h4>
      <h4 class="devicons devicons-gulp">&nbsp Gulp</h4>
      <h4>Mocha</h4>
      <h4>Chai    </h4>
      <h4 class="devicons devicons-travis">&nbsp TravisCI</h4>
      <h4>Coveralls</h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-paper-plane fa-3x"></div>
      <h3>Website Deployment</h3>
      <h4 class="fa fa-git">&nbsp Git and GitHub</h4>
      <h4>Amazon AWS</h4>
      <h4 class="devicons devicons-heroku">&nbsp Heroku</h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-wrench fa-3x"></div>
      <h3>Developer Tools</h3>
      <h4 class="fa fa-trello">&nbsp Trello </h4>
      <h4>Supervisor</h4>
      <h4>Nodemon</h4>
      <h4 class="devicons devicons-npm">&nbsp NPM</h4>
      <h4>Bower</h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-envelope fa-3x"></div>
      <h3>APIs</h3>
      <h4 class="fa fa-google">&nbsp Google Analytics</h4>
      <h4>Twilio</h4>
      <h4>Mailgun</h4>
      <h4 class="fa fa-cc-stripe">&nbsp Stripe</h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-key fa-3x"></div>
      <h3>Authentication</h3>
      <h4>Socket.io</h4>
      <h4 class="devicons devicons-redis">&nbsp Redis</h4>
      <h4>Toastr</h4>
      <h4>Passport</h4>
    </div>
    <div class="skillBox">
      <div class="fa fa-star fa-3x"></div>
      <h3>Other Tools</h3>
      <h4>Adobe Photoshop</h4>
      <h4>Microsoft Office</h4>
      <h4>LaTex</h4>
      <h4>IDL</h4>
      <h4>IRAF</h4>
    </div>
  </div>
  <div id="spacerbottom"></div>
</div>