
<div class="page-header">
  <h2>Skills</h2>
</div>
<div id="skills">
  <div class="skillBox">
    <h2>MEAN Stack</h2>
    <h4>MongoDB</h4>
    <h4>Express</h4>
    <h4>AngularJS</h4>
    <h4>NodeJS</h4>
  </div>
  <div class="skillBox">
    <h2>Languages and Frameworks</h2>
    <h4>JavaScript</h4>
    <h4>Python</h4>
    <h4>Express</h4>
    <h4>HAPI</h4>
  </div>
  <div class="skillBox">
    <h2>Game Development</h2>
    <h4>Phaser</h4>
    <h4>Tiled</h4>
    <h4>Canvas</h4>
  </div>
  <div class="skillBox">
    <h2>Mobile Development</h2>
    <h4>Cordova/PhoneGap</h4>
    <h4>Android</h4>
    <h4>IOS</h4>
    <h4>Ionic</h4>
    <h4>Eclipse</h4>
    <h4>GenyMotion</h4>
    <h4>Xcode   </h4>
  </div>
  <div class="skillBox">
    <h2>User Experience</h2>
    <h4>CSS 3</h4>
    <h4>HTML 5</h4>
    <h4>Jade</h4>
    <h4>Less</h4>
    <h4>JQuery</h4>
    <h4>Bootstrap</h4>
    <h4>Foundation</h4>
  </div>
  <div class="skillBox">
    <h2>Database Technology</h2>
    <h4>MongoDB</h4>
    <h4>Mongoose</h4>
    <h4>RoboMongo</h4>
    <h4>AJAX</h4>
  </div>
  <div class="skillBox">
    <h2>Test Driven Development</h2>
    <h4>Grunt</h4>
    <h4>Gulp</h4>
    <h4>Mocha</h4>
    <h4>Chai    </h4>
    <h4>TravisCI</h4>
    <h4>Coveralls</h4>
  </div>
  <div class="skillBox">
    <h2>Website Deployment</h2>
    <h4>Git and GitHub</h4>
    <h4>Amazon AWS</h4>
    <h4>Heroku</h4>
  </div>
  <div class="skillBox">
    <h2>Developer Tools</h2>
    <h4>Trello </h4>
    <h4>Supervisor</h4>
    <h4>Nodemon</h4>
    <h4>NPM</h4>
    <h4>Bower</h4>
  </div>
  <div class="skillBox">
    <h2>Other</h2>
    <h4>Twilio</h4>
    <h4>Mailgun</h4>
    <h4>Passport</h4>
    <h4>Stripe</h4>
    <h4>Toastr</h4>
    <h4>Redis</h4>
    <h4>Socket.io  </h4>
  </div>
  <div class="skillBox">
    <h2>Editing Tools</h2>
    <h4>Adobe Photoshop</h4>
    <h4>LaTex</h4>
    <h4>Microsoft Office</h4>
  </div>
  <div class="skillBox">
    <h2>Astronomy Software</h2>
    <h4>IDL</h4>
    <h4>IRAF</h4>
    <h4>Starry Night Pro</h4>
    <h4>MIRA</h4>
    <h4>MaxIm DL</h4>
    <h4>AutoStar</h4>
  </div>
</div>