
<div class="page-header">
  <h2>Skills</h2>
</div>
<div id="skills">
  <div class="skillBox">
    <h3>MEAN Stack</h3>
    <h5>MongoDB</h5>
    <h5>Express</h5>
    <h5>AngularJS</h5>
    <h5>NodeJS</h5>
  </div>
  <div class="skillBox">
    <h3>Languages and Frameworks</h3>
    <h5>JavaScript</h5>
    <h5>Python</h5>
    <h5>Express</h5>
    <h5>HAPI</h5>
  </div>
  <div class="skillBox">
    <h3>Game Development</h3>
    <h5>Phaser</h5>
    <h5>Tiled</h5>
    <h5>Canvas</h5>
  </div>
  <div class="skillBox">
    <h3>Mobile Development</h3>
    <h5>Cordova/PhoneGap</h5>
    <h5>Android</h5>
    <h5>IOS</h5>
    <h5>Ionic</h5>
    <h5>Eclipse</h5>
    <h5>GenyMotion</h5>
    <h5>Xcode   </h5>
  </div>
  <div class="skillBox">
    <h3>User Experience</h3>
    <h5>CSS 3</h5>
    <h5>HTML 5</h5>
    <h5>Jade</h5>
    <h5>Less</h5>
    <h5>JQuery</h5>
    <h5>Bootstrap</h5>
    <h5>Foundation</h5>
  </div>
  <div class="skillBox">
    <h3>Database Technology</h3>
    <h5>MongoDB</h5>
    <h5>Mongoose</h5>
    <h5>RoboMongo</h5>
    <h5>AJAX</h5>
  </div>
  <div class="skillBox">
    <h3>Test Driven Development</h3>
    <h5>Grunt</h5>
    <h5>Gulp</h5>
    <h5>Mocha</h5>
    <h5>Chai    </h5>
    <h5>TravisCI</h5>
    <h5>Coveralls</h5>
  </div>
  <div class="skillBox">
    <h3>Website Deployment</h3>
    <h5>Git and GitHub</h5>
    <h5>Amazon AWS</h5>
    <h5>Heroku</h5>
  </div>
  <div class="skillBox">
    <h3>Developer Tools</h3>
    <h5>Trello </h5>
    <h5>Supervisor</h5>
    <h5>Nodemon</h5>
    <h5>NPM</h5>
    <h5>Bower</h5>
  </div>
  <div class="skillBox">
    <h3>Other</h3>
    <h5>Twilio</h5>
    <h5>Mailgun</h5>
    <h5>Passport</h5>
    <h5>Stripe</h5>
    <h5>Toastr</h5>
    <h5>Redis</h5>
    <h5>Socket.io  </h5>
  </div>
  <div class="skillBox">
    <h3>Editing Tools</h3>
    <h5>Adobe Photoshop</h5>
    <h5>LaTex</h5>
    <h5>Microsoft Office</h5>
  </div>
  <div class="skillBox">
    <h3>Astronomy Software</h3>
    <h5>IDL</h5>
    <h5>IRAF</h5>
    <h5>Starry Night Pro</h5>
    <h5>MIRA</h5>
    <h5>MaxIm DL</h5>
    <h5>AutoStar</h5>
  </div>
</div>