.page-header
  h2 Zo&euml Ames
  h3 Developer  |  Web Designger  |  Astrophysicist
.row
  .col-xs-4
    .mePhoto
  .col-xs-8
    p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
.row2
  h4 Skills:
  .col-xs-4
    h5 MongoDB
    h5 bla
    h5 bla
    h5 bla
    h5 bla
  .col-xs-4
    h5 Angular JS
    h5 bla
    h5 bla
    h5 bla
    h5 bla
  .col-xs-4
    h5 JavaScript
    h5 bla
    h5 bla
    h5 bla
    h5 bla
 .row3
    p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
    p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
    p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
    p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
    p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
    p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
    p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
    p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
    p Rope's end Gold Road tackle broadside marooned run a shot across the bow chandler ballast topgallant warp. Lass hail-shot Sail ho American Main black spot cable hornswaggle bilge heave down coffer. Topgallant prow loot hail-shot Davy Jones' Locker provost crow's nest list Jolly Roger gally. Lateen sail cable jury mast tackle landlubber or just lubber pressgang chandler Admiral of the Black pink wench. Sloop belaying pin topgallant long boat Shiver me timbers pinnace broadside barkadeer Spanish Main ballast. Dead men tell no tales lugger fluke Chain Shot crimp deadlights Yellow Jack gunwalls Letter of Marque me. 
