.homeController
  h1.name Zo&euml Ames
  .row
    .col-md-6.visible-md.visible-sm.visible-xs
      h3.name Developer
    .col-md-6.col-lg-4.visible-md.visible-sm.visible-xs
      h3.name Web Designer
    .col-md-6.col-lg-4.visible-md.visible-sm.visible-xs
      h3.name Astrophysicist
    .col-lg-12.visible-lg
      h3.name Developer  |  Web Designer  |  Astrophysicist
  #spacermiddle
  .row
    .col-xs-1
    .col-md-6.col-lg-3
      .mePhoto
    .col-md-6.col-lg-7
      .biopannel
        h4.info I am currently attending Nashville Software School, and will graduate in January.  In this six month intensive program we have focused on learning all aspects of the MEAN stack (MongoDB, Express, Angular, NodeJS) and additionally we have learned some mobile development (Cordova).  Previously I received a MS degree in Physics from San Francisco State University.  As an undergrad I attended Smith College where I received a BA with a double major in Astronomy and Physics.  All of the programming and data reduction I did while persuing degrees in astrophysics really fascinated me and led to my interest in programming. In my spare time I like to travel, especially to places where I can go scuba diving.      
    .col-xs-1
  #spacermiddle
        
  .row
    .col-xs-1
    .col-xs-10
      .contactPannel
        h2.contact Contact Me:
        h4.info I am currently available for hire in the Nashville area.  Feel free to contact me if my skill set is what you are looking for or if you want to talk about some of my projects.
        .icon
          a.btn.btn-primary.needsclick(href='https://twitter.com/zoe_ames', target="_blank"): i.fa.fa-twitter.fa-4x
        .icon
          a.btn.btn-primary.needsclick(href='https://github.com/zoeames', target="_blank"): i.fa.fa-github-alt.fa-4x
        .icon
          a.btn.btn-primary.needsclick(href='https://www.linkedin.com/pub/zoe-ames/85/b23/689', target="_blank"): i.fa.fa-linkedin-square.fa-4x
        .icon
          a.btn.btn-primary.needsclick(href='https://www.facebook.com/zames', target="_blank"): i.fa.fa-facebook-square.fa-4x
        .icon
          a.btn.btn-primary.needsclick(href='mailto:zoeames@gmail.com', target="_blank"): i.fa.fa-envelope-o.fa-4x
    .col-xs-1
  #spacerbottom

    .container
      .row


  #spacerbottom                  
