.page-header
  h2 Zo&euml Ames
  h3 Developer  |  Web Designger  |  Astrophysicist
.row
  .col-xs-2
  .col-xs-2
    .mePhoto
  .col-xs-6
    p.bio I am currently attending Nashville Software School, and will graduate in January.  In this six month intensive program we have focused on learning all aspects of the MEAN stack (MongoDB, Express, Angular, NodeJS) and additionally we have learned some mobile development (Cordova).  Previously I received a MS degree in Physics from San Francisco State University.  As an undergrad I attended Smith College where I received a BA with a double major in Astronomy and Physics.  All of the programming and data reduction I did while persuing degrees in astrophysics really fascinated me and led to my interest in programming. In my spare time I like to travel, especially to places where I can go scuba diving.  
  .col-xs-2
.row2
  h4 Skills:
  .col-xs-4
    h5 MongoDB
    h5 bla
    h5 bla
    h5 bla
    h5 bla
  .col-xs-4
    h5 Angular JS
    h5 bla
    h5 bla
    h5 bla
    h5 bla
  .col-xs-4
    h5 JavaScript
    h5 bla
    h5 bla
    h5 bla
    h5 bla
