
<div class="page-header">
  <h2>Zo&euml Ames</h2>
  <h3>Developer  |  Web Designer  |  Astrophysicist</h3>
</div>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-2">
    <div class="mePhoto"></div>
  </div>
  <div class="col-xs-6">
    <p class="bio">I am currently attending Nashville Software School, and will graduate in January.  In this six month intensive program we have focused on learning all aspects of the MEAN stack (MongoDB, Express, Angular, NodeJS) and additionally we have learned some mobile development (Cordova).  Previously I received a MS degree in Physics from San Francisco State University.  As an undergrad I attended Smith College where I received a BA with a double major in Astronomy and Physics.  All of the programming and data reduction I did while persuing degrees in astrophysics really fascinated me and led to my interest in programming. In my spare time I like to travel, especially to places where I can go scuba diving.  </p>
  </div>
  <div class="col-xs-2"></div>
</div>
<div class="row2">
  <h4>Skills:</h4>
  <div class="col-xs-4">
    <h5>MongoDB</h5>
    <h5>Coveralls</h5>
    <h5>Vim</h5>
    <h5>CSS</h5>
    <h5>HTML</h5>
    <h5>Jade</h5>
    <h5>Eclipse</h5>
    <h5>Ionic</h5>
    <h5>Android SKD</h5>
    <h5>Xcode</h5>&nbsp
  </div>
  <div class="col-xs-4">
    <h5>Angular JS</h5>
    <h5>Less</h5>
    <h5>Bootstrap</h5>
    <h5>Supervisor</h5>
    <h5>Nodemon</h5>
    <h5>Twilio</h5>
    <h5>Mailgun</h5>
    <h5>Passport</h5>
    <h5>JQuery</h5>
    <h5>Amazon AWS</h5>
    <h5>Phaser.io</h5>
    <h5>Tiled</h5>
    <h5> </h5>
  </div>
  <div class="col-xs-4">
    <h5>JavaScript</h5>
    <h5>Grunt</h5>
    <h5>Mocha and Chai</h5>
    <h5>Git and GitHub</h5>
    <h5>Trello </h5>
    <h5>TravisCI</h5>
    <h5>Tmuxinator</h5>
    <h5>Stripe</h5>
    <h5>Toastr</h5>
    <h5>Python</h5>
    <h5> </h5>
  </div>
</div>