
<div class="homeController">
  <h1 class="name">Zo&euml Ames</h1>
  <h3 class="name">Developer  |  Web Designer  |  Astrophysicist</h3>
  <div id="spacermiddle"></div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-md-6 col-lg-3">
      <div class="mePhoto"></div>
    </div>
    <div class="col-md-6 col-lg-7">
      <div class="biopannel">
        <h4 class="info">I am currently attending Nashville Software School, and will graduate in January.  In this six month intensive program we have focused on learning all aspects of the MEAN stack (MongoDB, Express, Angular, NodeJS) and additionally we have learned some mobile development (Cordova).  Previously I received a MS degree in Physics from San Francisco State University.  As an undergrad I attended Smith College where I received a BA with a double major in Astronomy and Physics.  All of the programming and data reduction I did while persuing degrees in astrophysics really fascinated me and led to my interest in programming. In my spare time I like to travel, especially to places where I can go scuba diving.      </h4>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div id="spacermiddle"></div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="contactPannel">
        <h2 class="contact">Contact Me:</h2>
        <h4 class="info">I am currently available for hire in the Nashville area.  Feel free to contact me if my skill set is what you are looking for or if you want to talk about some of my projects.</h4>
        <div class="icon"><a href="https://twitter.com/zoe_ames" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-twitter fa-4x"></i></a></div>
        <div class="icon"><a href="https://github.com/zoeames" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-4x"></i></a></div>
        <div class="icon"><a href="https://www.linkedin.com/pub/zoe-ames/85/b23/689" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-linkedin-square fa-4x"></i></a></div>
        <div class="icon"><a href="https://www.facebook.com/zames" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-facebook-square fa-4x"></i></a></div>
        <div class="icon"><a href="mailto:zoeames@gmail.com" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-envelope-o fa-4x"></i></a></div>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div id="spacerbottom">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>
  <div id="spacerbottom">                 </div>
</div>