
<div class="portContainer">
  <h2 class="title">NashCC</h2>
  <h4>Nashville Creative Coding Meetup</h4>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <div class="nashccpannel">
        <h5>Checkout our website here:</h5><a href="http://nashvillecreativecoders.com/" target="_blank" class="btn btn-primary needsclick">Nashville Creative Coders</a>
      </div>
    </div>
    <div class="col-xs-4"></div>
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <div class="nashccpannel">
        <h5>See our upcoming events:</h5><a href="http://www.meetup.com/nashcc/" target="_blank" class="btn btn-primary needsclick">NashCC Meetup</a>
      </div>
    </div>
    <div class="col-xs-4"></div>
  </div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
</div>