
<div class="nashContainer">
  <h2 class="title nash">NashCC</h2>
  <div id="nashCCinfo" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
      <h4>Checkout our website here:</h4><a id="nashButtons" href="http://nashvillecreativecoders.com/" target="_blank" class="btn btn-danger needsclick">Nashville Creative Coders</a>
    </div>
    <div class="col-xs-4">
      <h3>Nashville Creative Coding Meetup</h3>
    </div>
    <div class="col-xs-2">
      <h4>See our upcoming events:</h4><a id="nashButtons" href="http://www.meetup.com/nashcc/" target="_blank" class="btn btn-danger needsclick">NashCC Meetup</a>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <div id="spacerbottom"> </div>
  <div id="acornHeading" class="row">
    <h4 id="acorn1">Curent Projects</h4>
  </div>
  <div id="acorn" class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="projectBox">
        <h3>&pi; Day 2015</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/piday2015.png">
        <h4>Displays digits of &pi; in circular form.  Then allows you to flash digits in order of &pi; or for a duration of &pi;.</h4><br>
        <h5>Technologies used: Javascript, HTML, CSS</h5><br><a href="https://github.com/zoeames/piday2015" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a><a href="http://piday2015.zoeames.com/" target="_blank" class="btn btn-success needsclick"><i class="fa fa-play fa-2x">&nbsp Try the App</i></a>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
  <div id="spacerbottom"></div>
</div>