.skillContainer
  h2.title Skills
  #spacermiddle
  .container
    .row
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-laptop.fa-3x.skillLogo
          h3.skillTitle Application Frameworks
          br
          .row
            .col-xs-4
              h4.devicons.devicons-nodejs.iconIcon
            .col-xs-8
              h4.iconTitle NodeJS
          .row
            .col-xs-4
              h4.devicons.devicons-angular.iconIcon
            .col-xs-8
              h4.iconTitle AngularJS
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Express
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle HAPI
          .row
            .col-xs-4
              h4.devicons.devicons-jquery_ui.iconIcon
            .col-xs-8
              h4.iconTitle JQuery    
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-comments.fa-3x.skillLogo
          h3.skillTitle Languages
          br
          .row
            .col-xs-4
              h4.devicons.devicons-javascript_badge.iconIcon
            .col-xs-8
              h4.iconTitle JavaScript
          .row
            .col-xs-4
              h4.devicons.devicons-python.iconIcon
            .col-xs-8
              h4.iconTitle Python
          
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Fortran
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Mathematica
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Matlab       
      .clearfix.visible-sm-block       
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-gamepad.fa-3x.skillLogo
          h3.skillTitle Game Development
          br
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Phaser
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Tiled
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-mobile.fa-3x.skillLogo
          h3.skillTitle Mobile Development
          br
          .row
            .col-xs-4
              h4.devicons.devicons-phonegap.iconIcon
            .col-xs-8
              h4.iconTitle Cordova
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle PhoneGap
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Ionic
          .row
            .col-xs-4
              h4.devicons.devicons-android.iconIcon
            .col-xs-8
              h4.iconTitle Android
          .row
            .col-xs-4
              h4.devicons.devicons-apple.iconIcon
            .col-xs-8 
              h4.iconTitle iOS
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Xcode
      .clearfix.visible-md-block       
      .clearfix.visible-sm-block       
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-desktop.fa-3x.skillLogo
          h3.skillTitle User Experience
          br
          .row
            .col-xs-4
              h4.devicons.devicons-css3.iconIcon
            .col-xs-8
              h4.iconTitle CSS3
          .row
            .col-xs-4
              h4.devicons.devicons-html5.iconIcon
            .col-xs-8
              h4.iconTitle HTML5
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Jade
          .row
            .col-xs-4
              h4.devicons.devicons-less.iconIcon
            .col-xs-8
              h4.iconTitle Less 
          .row
            .col-xs-4
              h4.devicons.devicons-sass.iconIcon
            .col-xs-8
              h4.iconTitle Sass
          .row
            .col-xs-4
              h4.devicons.devicons-bootstrap.iconIcon
            .col-xs-8
              h4.iconTitle Bootstrap
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Foundation
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-database.fa-3x.skillLogo
          h3.skillTitle Database Technology
          br
          .row
            .col-xs-4
              h4.devicons.devicons-mongodb.iconIcon 
            .col-xs-8
              h4.iconTitle MongoDB
          .row
            .col-xs-4
              h4.devicons.devicons-postgresql.iconIcon
            .col-xs-8
              h4.iconTitle PostgreSQL
          .row
            .col-xs-4
              h4.devicons.devicons-database.iconIcon
            .col-xs-8
              h4.iconTitle RoboMongo
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Mongoose      
      .clearfix.visible-sm-block       
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-check-square.fa-3x.skillLogo
          h3.skillTitle Test Driven Development
          br
          .row
            .col-xs-4
              h4.devicons.devicons-grunt.iconIcon 
            .col-xs-8
              h4.iconTitle Grunt
          .row
            .col-xs-4
              h4.devicons.devicons-gulp.iconIcon 
            .col-xs-8
              h4.iconTitle Gulp
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Mocha
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Chai    
          .row
            .col-xs-4
              h4.devicons.devicons-travis.iconIcon 
            .col-xs-8
              h4.iconTitle TravisCI
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Coveralls
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-paper-plane.fa-3x.skillLogo
          h3.skillTitle Website Deployment
          br
          .row
            .col-xs-4
              h4.devicons.devicons-github_badge.iconIcon
            .col-xs-8
              h4.iconTitle Git and GitHub
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Amazon AWS
          .row
            .col-xs-4
              h4.devicons.devicons-heroku.iconIcon  
            .col-xs-8
              h4.iconTitle Heroku   
      .clearfix.visible-md-block       
      .clearfix.visible-sm-block       
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-wrench.fa-3x.skillLogo
          h3.skillTitle Developer Tools
          br
          .row
            .col-xs-4
              h4.devicons.devicons-trello.iconIcon  
            .col-xs-8
              h4.iconTitle Trello 
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Supervisor
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Nodemon
          .row
            .col-xs-4
              h4.devicons.devicons-npm.iconIcon 
            .col-xs-8
              h4.iconTitle NPM
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Bower
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-envelope.fa-3x.skillLogo
          h3.skillTitle APIs
          br
          .row
            .col-xs-4
              h4.fa.fa-google.iconIcon
            .col-xs-8
              h4.iconTitle Google Analytics
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Twilio
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Mailgun
          .row
            .col-xs-4
              h4.fa.fa-cc-stripe.iconIcon
            .col-xs-8
              h4.iconTitle Stripe
      .clearfix.visible-sm-block      
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-key.fa-3x.skillLogo
          h3.skillTitle Authentication
          br
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Socket.io
          .row
            .col-xs-4
              h4.devicons.devicons-redis.iconIcon
            .col-xs-8
              h4.iconTitle Redis
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Toastr
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Passport   
      .col-sm-6.col-md-3
        .skillBox
          .fa.fa-star.fa-3x.skillLogo
          h3.skillTitle Other Tools
          br
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Adobe Photoshop
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle Microsoft Office
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle LaTex
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle IDL
          .row
            .col-xs-4
            .col-xs-8
              h4.iconTitle IRAF
  #spacerbottom                                  
    
