.page-header
  h2 Skills
#skills
  .skillBox
    h3 MEAN Stack
    h5 MongoDB
    h5 Express
    h5 AngularJS
    h5 NodeJS
  .skillBox
    h3 Languages and Frameworks
    h5 JavaScript
    h5 Python
    h5 Express
    h5 HAPI
  .skillBox
    h3 Game Development
    h5 Phaser
    h5 Tiled
    h5 Canvas
  .skillBox
    h3 Mobile Development
    h5 Cordova/PhoneGap
    h5 Android
    h5 IOS
    h5 Ionic
    h5 Eclipse
    h5 GenyMotion
    h5 Xcode   
  .skillBox
    h3 User Experience
    h5 CSS 3
    h5 HTML 5
    h5 Jade
    h5 Less
    h5 JQuery
    h5 Bootstrap
    h5 Foundation
  .skillBox
    h3 Database Technology
    h5 MongoDB
    h5 Mongoose
    h5 RoboMongo
    h5 AJAX
  .skillBox
    h3 Test Driven Development
    h5 Grunt
    h5 Gulp
    h5 Mocha
    h5 Chai    
    h5 TravisCI
    h5 Coveralls

  .skillBox
    h3 Website Deployment
    h5 Git and GitHub
    h5 Amazon AWS
    h5 Heroku

  .skillBox
    h3 Developer Tools
    h5 Trello 
    h5 Supervisor
    h5 Nodemon
    h5 NPM
    h5 Bower
  .skillBox
    h3 Other
    h5 Twilio
    h5 Mailgun
    h5 Passport
    h5 Stripe
    h5 Toastr
    h5 Redis
    h5 Socket.io  
  .skillBox
    h3 Editing Tools
    h5 Adobe Photoshop
    h5 LaTex
    h5 Microsoft Office
  .skillBox
    h3 Astronomy Software
    h5 IDL
    h5 IRAF
    h5 Starry Night Pro
    h5 MIRA
    h5 MaxIm DL
    h5 AutoStar
  
