.page-header
  h2 Skills
.row2
  .col-xs-4
    h5 MongoDB
    h5 Coveralls
    h5 Vim
    h5 CSS
    h5 HTML
    h5 Jade
    h5 Eclipse
    h5 Ionic
    h5 Android SKD
    h5 Xcode
  .col-xs-4
    h5 Angular JS
    h5 Less
    h5 Bootstrap
    h5 Supervisor
    h5 Nodemon
    h5 Twilio
    h5 Mailgun
    h5 Passport
    h5 JQuery
    h5 Amazon AWS
    h5 Phaser.io
    h5 Tiled
  .col-xs-4
    h5 JavaScript
    h5 Grunt
    h5 Mocha and Chai
    h5 Git and GitHub
    h5 Trello 
    h5 TravisCI
    h5 Tmuxinator
    h5 Stripe
    h5 Toastr
    h5 Python
