.skillContainer
  h2 Skills
  #skills
    .skillBox
      .fa.fa-laptop.fa-3x
      h3 Application Frameworks
      h4.devicons.devicons-nodejs &nbsp NodeJS
      h4.devicons.devicons-angular &nbsp AngularJS
      h4 Express
      h4 HAPI
    .skillBox
      .fa.fa-comments.fa-3x
      h3 Languages
      h4.devicons.devicons-javascript_badge &nbsp JavaScript
      h4.devicons.devicons-python &nbsp Python
      h4 Fortran
      h4 Mathematica
      h4 Matlab
    .skillBox
      .fa.fa-gamepad.fa-3x
      h3 Game Development
      h4 Phaser
      h4 Tiled
    .skillBox
      .fa.fa-mobile.fa-3x
      h3 Mobile Development
      h4.devicons.devicons-phonegap &nbsp Cordova/PhoneGap
      h4 Ionic
      h4.devicons.devicons-android &nbsp Android
      h4.devicons.devicons-apple &nbsp IOS
      h4 Xcode   
    .skillBox
      .fa.fa-desktop.fa-3x
      h3 User Experience
      h4.devicons.devicons-css3 &nbsp CSS3
      h4.devicons.devicons-html5 &nbsp HTML5 and Jade
      h4.devicons.devicons-less &nbsp Less 
      h4.devicons.devicons-sass &nbsp Sass
      h4.devicons.devicons-jquery_ui &nbsp JQuery
      h4.devicons.devicons-bootstrap &nbsp Bootstrap and Foundation
    .skillBox
      .fa.fa-database.fa-3x
      h3 Database Technology
      h4.devicons.devicons-mongodb &nbsp MongoDB
      h4 Mongoose
      h4.devicons.devicons-database &nbsp RoboMongo
      h4 SQL
      h4.devicons.devicons-postgresql &nbsp Postgres
    .skillBox
      .fa.fa-check-square.fa-3x
      h3 Test Driven Development
      h4.devicons.devicons-grunt &nbsp Grunt
      h4.devicons.devicons-gulp &nbsp Gulp
      h4 Mocha
      h4 Chai    
      h4.devicons.devicons-travis &nbsp TravisCI
      h4 Coveralls

    .skillBox
      .fa.fa-paper-plane.fa-3x
      h3 Website Deployment
      h4.fa.fa-git &nbsp Git and GitHub
      h4 Amazon AWS
      h4.devicons.devicons-heroku &nbsp Heroku

    .skillBox
      .fa.fa-wrench.fa-3x
      h3 Developer Tools
      h4.fa.fa-trello &nbsp Trello 
      h4 Supervisor
      h4 Nodemon
      h4.devicons.devicons-npm &nbsp NPM
      h4 Bower
    .skillBox
      .fa.fa-envelope.fa-3x
      h3 APIs
      h4.fa.fa-google &nbsp Google Analytics
      h4 Twilio
      h4 Mailgun
      h4.fa.fa-cc-stripe &nbsp Stripe
    .skillBox
      .fa.fa-key.fa-3x
      h3 Authentication
      h4 Socket.io
      h4.devicons.devicons-redis &nbsp Redis
      h4 Toastr
      h4 Passport
    .skillBox
      .fa.fa-star.fa-3x
      h3 Other Tools
      h4 Adobe Photoshop
      h4 Microsoft Office
      h4 LaTex
      h4 IDL
      h4 IRAF
  #spacerbottom
    
