.page-header
  h2 Skills
#skills
  .skillBox
    h2 MEAN Stack
    h4 MongoDB
    h4 Express
    h4 AngularJS
    h4 NodeJS
  .skillBox
    h2 Languages and Frameworks
    h4 JavaScript
    h4 Python
    h4 Express
    h4 HAPI
  .skillBox
    h2 Game Development
    h4 Phaser
    h4 Tiled
    h4 Canvas
  .skillBox
    h2 Mobile Development
    h4 Cordova/PhoneGap
    h4 Android
    h4 IOS
    h4 Ionic
    h4 Eclipse
    h4 GenyMotion
    h4 Xcode   
  .skillBox
    h2 User Experience
    h4 CSS 3
    h4 HTML 5
    h4 Jade
    h4 Less
    h4 JQuery
    h4 Bootstrap
    h4 Foundation
  .skillBox
    h2 Database Technology
    h4 MongoDB
    h4 Mongoose
    h4 RoboMongo
    h4 AJAX
  .skillBox
    h2 Test Driven Development
    h4 Grunt
    h4 Gulp
    h4 Mocha
    h4 Chai    
    h4 TravisCI
    h4 Coveralls

  .skillBox
    h2 Website Deployment
    h4 Git and GitHub
    h4 Amazon AWS
    h4 Heroku

  .skillBox
    h2 Developer Tools
    h4 Trello 
    h4 Supervisor
    h4 Nodemon
    h4 NPM
    h4 Bower
  .skillBox
    h2 Other
    h4 Twilio
    h4 Mailgun
    h4 Passport
    h4 Stripe
    h4 Toastr
    h4 Redis
    h4 Socket.io  
  .skillBox
    h2 Editing Tools
    h4 Adobe Photoshop
    h4 LaTex
    h4 Microsoft Office
  .skillBox
    h2 Astronomy Software
    h4 IDL
    h4 IRAF
    h4 Starry Night Pro
    h4 MIRA
    h4 MaxIm DL
    h4 AutoStar
  
