.astroContainer
  h2.title Astrophysics  
  .row
    .col-xs-1
    .col-md-6.col-lg-4
      .ic348Photo
    .col-md-6.col-lg-6
      .astropannel
        h4.info As an undergrad at Smith College I earned a BA with a double major in Astronomy and Physics.  While at Smith I assisted faculty in teaching six introductory astronomy courses.  Additionally I participated in two Research Experience for Undergraduates programs, REU's, at Lowell Observatory and McDonald Observatory.  After Smith I entered a Masters degree program in Physics at San Francisco State University.  There I taught 15 introductory astronomy and physics lab classes.  I assisted with major rewrites of curriculum for both the astronomy and physics labs that I taught.  I continued to do research in star formation with Dr. Mary Barsony.  I wrote my Masters thesis on the star forming region IC 348 (shown here).  My thesis title and abstract are below.
        a.btn.btn-warning.btn-lg(role='button', href='/assets/pdf/ames_cv.pdf').resumeBtn Scientific CV
    .col-xs-1
  #spacermiddle
  .row
    .col-xs-1
    .col-xs-10
      .astropannel
        h3 Thesis Title:
        h4 SEARCHING FOR THE LOWEST MASS PRODUCTS OF STAR-FORMATION IN IC 348
        br
        h3 Thesis Abstract:
        h4 We are working with Spitzer Space Telescope data in the IC 348 star formation region in Perseus. We derived photometry from images acquired by Spitzer’s Infrared Array Camera (IRAC) instrument at four wavelengths (3.6 μm, 4.5 μm, 5.8 μm, and 8.0 μm) for 811 sources. We applied constraints to these sources to account for saturation, 90% completeness limits, and required detection in all four wavelengths. Applying these constraints left us with 102 sources. We then checked our photometry against Muench et al. 2007 and found that our photometry agreed to within our error margins. Finally we created Spectral Energy Distributions (SEDs) and determined the spectral class of the Young Stellar Objects (YSOs) by measuring the slope of the SEDs and using the SED slope classification system used by Muench et al. 2007. Of the 102 sources, we found that three are Class I YSOs, fifteen are Class II YSOs, and 84 are Class III YSOs. We have potentially found one Class I, eight Class II, and twenty-seven Class III sources that the Lada and Muench group did not include in their 2007 survey.
    .col-xs-1
  #spacerbottom
  #spacerbottom
  #spacerbottom
