<!DOCTYPE html>
<html>
  <body>
    <div class="port-holder">
      <div class="row">
        <!-- Project Close Button-->
        <div class="col-md-12">
          <ul class="pclose">
            <li><a id="portfolio-close" href="#" title="Close Project"><i class="fa fa-times-circle-o"></i></a></li>
          </ul>
        </div>
        <!-- /Project Close Button-->
        <!-- Project Title-->
        <div class="project-title">
          <h1>Wobbly Who</h1>
          <p>A Whovian Twist on Flappy Bird</p>
        </div>
        <!-- /Project Title end-->
        <!-- Project Screenshot-->
        <div class="col-md-12">
          <div class="portfolio-media"><img src="public/assets/img/projects/project1.png"></div>
        </div>
        <!-- /Project Screenshot end-->
        <!-- Project Details-->
        <div class="row">
          <div style="text-align: center" class="col-md-6"><a href="http://mlfryman.github.io/mlf-wobbly-who/" title="Play Wobbly Who"><i class="fa fa-play">&nbsp; Play</i></a></div>
          <div style="text-align: center" class="col-md-6"><a href="http://github.com/mlfryman/mlf-wobbly-who" title="View Source Code"><i class="fa fa-github-square">&nbsp; Source</i></a></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2> ADD HEADER HERE </h2>
            <p> ADD DESCRIPTION HERE </p>
          </div>
        </div>
        <!-- /Project 1 Details end-->
      </div>
    </div>
  </body>
</html>