
<div class="portContainer">
  <h2>Portfolio</h2>
  <h4>This page is currently under construction.</h4>
  <div id="portfolioOptions">
    <button type="button" data-toggle="collapse" data-target="#intro" class="btn btn-danger fa fa-space-shuttle"></button>
    <button type="button" data-toggle="collapse" data-target="#capstones" class="btn btn-danger">Capstones</button>
    <button type="button" data-toggle="collapse" data-target="#mean" class="btn btn-danger">MEAN Stack</button>
    <button type="button" data-toggle="collapse" data-target="#angular" class="btn btn-danger">Angular Apps</button>
    <button type="button" data-toggle="collapse" data-target="#games" class="btn btn-danger">Phaser Games</button>
    <button type="button" data-toggle="collapse" data-target="#mobile" class="btn btn-danger">Mobile Apps</button>
    <div id="intro" class="collapse in">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</div>
    <div id="capstones" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    <div id="mean" class="collapse">Gentrify leggings ethical flexitarian, vegan pickled literally jean shorts street art pop-up. Pitchfork jean shorts four dollar toast asymmetrical seitan selfies. Fap artisan Etsy selfies, Bushwick before they sold out tattooed butcher Helvetica Pitchfork hoodie salvia messenger bag viral. 8-bit Austin fingerstache meditation, health goth kitsch church-key fashion axe XOXO Godard Shoreditch chillwave distillery. Before they sold out Carles normcore, Echo Park sartorial crucifix Blue Bottle iPhone Marfa. Chillwave tilde yr, migas selfies roof party American Apparel kitsch distillery keytar disrupt Pinterest vinyl. Lomo wolf post-ironic, yr literally tattooed pork belly meditation ethical Banksy Thundercats Intelligentsia single-origin coffee Echo Park VHS.</div>
    <div id="angular" class="collapse">Gingerbread apple pie jelly beans sweet roll. Macaroon brownie tart liquorice sweet roll jelly beans. Jelly danish apple pie caramels. Candy canes croissant cheesecake tart cookie apple pie.</div>
    <div id="games" class="collapse">degrees plato ester dunkle pitching. cask conditioning, " abv attenuation bung pitch." top-fermenting yeast wit brewing ale dry hopping goblet ibu. beer barleywine, length ester conditioning: racking.</div>
    <div id="mobile" class="collapse">Hide at bottom of staircase to trip human. Mark territory stand in front of the computer screen, have secret plans chase dog then run away hide at bottom of staircase to trip human or inspect anything brought into the house scamper.</div>
  </div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
</div>