
<div class="page-header">
  <h2>My Portfolio</h2>
</div>
<div class="portfolio-container">
  <!-- Portfolio Item-->
  <div class="portfolio-item mt games"><a href="views/portfolio/flappydragon.html" title="FlappyDragon" class="project-link">
      <div class="portfolio-image"><img src="public/assets/img/flappyDragon.png" alt="FlappyDragon"></div>
      <div class="item-overlay">
        <div class="item-info">
          <div class="zoom-icon"></div>
          <h4 class="item-name">Flappy Dragon</h4>
          <p class="item-type">Game</p>
        </div>
      </div></a></div>
</div>