
<div class="portContainer">
  <h2 class="title">Portfolio</h2>
  <h4>This page is currently under construction.</h4>
  <div id="accordion" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" class="btn btn-danger btn-lg btn-block fa fa-chevron-down">&nbsp Capstone Projects</a></h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="col-lg-4">
          <div class="portfolioBox">
            <h3>Star Trek: Journey to Starbase Andromeda</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/startrek.png">
            <h4>A choose-your-own-adventure game based on characters from the Star Trek franchise back with real physics calculations.</h4><br>
            <h5>Technologies used: Javascript, NodeJS, AngularJS, MongoDB, Express, Bootstrap</h5><br><a href="https://github.com/zoeames/capstone" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a><a href="http://startrek.zoeames.com/" target="_blank" class="btn btn-success needsclick"><i class="fa fa-play fa-2x">&nbsp Play Game</i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolioBox">
            <h3>Capstone 2</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/comingsoon.png"><a href="https://github.com/zoeames/capstone2" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolioBox"> 
            <h3>enlighTN</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/enlighTN.png">
            <h4>Using publicly available data on the installation and performance art in Nashville from various sources such as nashville.data.gov. We offer a comprehensive one stop view for all Metro Art and Historical Markers.</h4><br>
            <h5>Technologies used: Javascript, Express, NodeJS, MongoDB, AngularJS, Socket.IO, Bootstrap</h5><br><a href="https://github.com/zoeames/enlighTN" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a><a href="http://enlightn.kaylalynjones.ninja/" target="_blank" class="btn btn-success needsclick"><i class="fa fa-play fa-2x">&nbsp Play Game</i></a>
          </div>
        </div>
      </div>
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2" class="btn btn-danger btn-lg btn-block fa fa-chevron-down">&nbsp MEAN Stack</a></h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="col-lg-4">
          <div class="portfolioBox">
            <h3>Trailer Love</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/comingsoon.png"><a href="https://github.com/zoeames/trailer-love" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolioBox"> 
            <h3>World Traveler</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/comingsoon.png"><a href="https://github.com/zoeames/world-traveler" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolioBox"> 
            <h3>Craig's Bay</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/comingsoon.png"><a href="https://github.com/zoeames/craigs-bay" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a>
          </div>
        </div>
      </div>
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3" class="btn btn-danger btn-lg btn-block fa fa-chevron-down">&nbsp Angular Apps</a></h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="col-lg-4">
          <div class="portfolioBox">
            <h3>NoteTaker</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/notetaker.png"><a href="https://github.com/zoeames/notetaker" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a><a href="https://mighty-waters-4871.herokuapp.com" target="_blank" class="btn btn-success needsclick"><i class="fa fa-play fa-2x">&nbsp Play Game</i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolioBox">
            <h3>< img > TROLL   </h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/imgTROLL.png"><a href="https://github.com/zoeames/imgTROLL" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolioBox"> 
            <h3>BlackJack</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/blackjack.png"><a href="https://github.com/zoeames/blackjack" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a><a href="https://guarded-escarpment-7455.herokuapp.com" target="_blank" class="btn btn-success needsclick"><i class="fa fa-play fa-2x">&nbsp Play Game</i></a>
          </div>
        </div>
      </div>
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="btn btn-danger btn-lg btn-block fa fa-chevron-down">&nbsp Phaser Games</a></h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="col-lg-4">
          <div class="portfolioBox">
            <h3>Pirates Booty</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/PiratesBooty.png"><a href="https://github.com/zoeames/pirates-booty" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolioBox"> 
            <h3>FlappyDragon</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/flappyDragon.png"><a href="https://github.com/zoeames/flappyDragon" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolioBox"> 
            <h3>RoundUp</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/comingsoon.png"><a href="https://github.com/zoeames/roundup" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a>
          </div>
        </div>
      </div>
      <div class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5" class="btn btn-danger btn-lg btn-block fa fa-chevron-down">&nbsp Mobile Apps</a></h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="col-lg-4">
          <div class="portfolioBox"> 
            <h3>Gravity Flip</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/gravityflip.png">
            <h4>After a trip through the Milky Way, your crew is ready to return to Earth. However, a terrible storm of asteroids and debris block your path. During your trip, you notice that the inertia and gravitational pull are constantly reversing. Navigate your way through this anomaly so that you can tell Earth of your findings!</h4><br>
            <h5>Technologies used: Javascript, Bootstrap, Cordova, Phaser</h5><br><a href="https://github.com/zoeames/falldown" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a><a href="https://itunes.apple.com/TR/app/id932888940" target="_blank" class="btn btn-success needsclick"><i class="fa fa-apple fa-2x">&nbsp Itunes Store</i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolioBox"> 
            <h3>Cosmic PutPut</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/putput.png"><a href="https://github.com/zoeames/za-putput" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="portfolioBox">
            <h3>NoteTaker - Mobile Version</h3><img id="portfolioImg" ng-src="../../assets/img/portfolio/mobilenotetaker.png"><a href="https://github.com/zoeames/za-mobilenote" target="_blank" class="btn btn-primary needsclick"><i class="fa fa-github-alt fa-2x">&nbsp GitHub Repo</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
  <div id="spacerbottom"></div>
</div>